*{
	box-sizing: border-box;
	//border: 1px solid black;
}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
  height: 50px;
}

.topnav *{
	margin:0px 5px;
}

.logo{
	float: left;	
	padding: 0px 10px;
}

.nav-icon{
	float: left;
	text-align: center;
	height: 100%;
	padding: 14px 16px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.link:hover{
	background-color: rgba(0,0,0,0.1);
}

.link:active{
	background-color: rgba(0,0,0,0.2);
}

.link:visited{
	color: white;
}

.link{
	text-decoration: none;
}

.form{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 50px;
}

.form-entry{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-label{
	text-align: left;
}

.form-input{
	display: inline-block;
	font-size: 24px;
	width: 100%;
}

.form-error{
	color: red;
	padding-left: 10px;
	font-size: 80%;
}

.form-instruction{
	font-size: 80%;
	color: rgba(0,0,0,0.5);
}

.form-input:focus{
	border-width: 2px;
}

.form-btn{
	margin: 5px 0px !important;
	font-size: 16px;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border:2px solid black;
	text-align: center;
	width: 100%;
	height: 100%;
}

.form-btn:hover{
	background-color: rgba(0,0,0,0.1);
}

.form-btn:active{
	background-color: rgba(0,0,0,0.1);
}


.black,
.black:visited,
.black:hover{
	color:black;
}


.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.row{
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin:0 auto;
}

.row::before,
.row::after{
	display: table;
	content: " ";
}



.row::after{
	clear: both;
}


@media only screen and (min-width: 640px)
{
	.col-2, .col-3, .col-4, .col-6, .col-12{
		float: left;
		padding: 1.04166666%;
		width: 100%;
	}

	.col-2{
		width: 16.67%;
	}

	.col-3{
		width: 25%;
	}

	.col-4{
		width: 33.33%;
	}

	.col-6{
		width: 50%;
	}

	.col-12{
		width: 100%;
	}
}

.t-1{
	font-size: 30px;
	font-weight: bold;
}

.info-card{
	border: 2px solid;
	margin-top: 20px;
	margin-bottom: 20px;
	color: rgba(0,0,0,0.1);
}


.info-card:hover{
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.1);
}

.info-card *:visited{
	color: #666666;

}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.grey{
	color:grey;
}

.danger{
	color:red;
}

.list{
	list-style: none;
}

.input-error{
	border:2px red solid;
}

.top-error{
	list-style: kannada;
}

.top-error>li{
	color: red;
}
