*{
	font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	//border: 1px solid black;
}

@media  only screen and (min-width: 640px)
{
 body{
 	background-color: floralwhite;
	 background-size: 100%;
	 background-repeat: no-repeat;
}
}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #f1f1f1;
}

.topnav *{
	margin:0px 0px;
	padding-top: 5px;
	padding-bottom: 5px;

}


.logo{
	float: left;	
	padding: 0px 10px;
}

.nav-icon{
	float: left;
	text-align: center;
	height: 100%;
	padding: 14px 16px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}


.link,
.link *{
	text-decoration: none;
}

.link:hover{
	background-color: rgba(0,0,0,0.1);
	cursor: pointer;
}

.form{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 50px;
}

.form-entry{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	Place-items:center;
}

.form-label{
	text-align: left;
}

.form-input{
	display: inline-block;
	font-size: 24px;
	width: 100%;
}

.form-error{
	color: red;
	padding-left: 10px;
	text-shadow: 1px 1px white;
}

.form-instruction{
	font-size: 80%;
	color: rgba(0,0,0,0.5);
}
/*
.form-input:focus{
	border-width: 2px;
}
*/
.form-btn{
	margin: 5px 0px !important;
	font-size: 16px;
	background-color: #f1f1f1;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	border:2px solid black;
	text-align: center;
	width: 100%;
	height: 100%;
}

.form-btn:hover{
	background-color: rgba(0,0,0,0.1);
}

.form-btn:active{
	background-color: rgba(0,0,0,0.1);
	transform: translateY(1px);
}



.hidden{
	visibility: hidden;
}

.black,
.black:visited,
.black:hover{
	color:black;
}


.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.row{
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin:0 auto;
}

.row::before,
.row::after{
	display: table;
	content: " ";
}



.row::after{
	clear: both;
}


@media only screen and (min-width: 640px)
{
	.col-1, .col-2, .col-3, .col-4, .col-6, .col-12{
		float: left;
		padding: 1.04166666%;
		width: 100%;
	}

	.col-1{
		width: 8.33%;
	}

	.col-2{
		width: 16.67%;
	}

	.col-3{
		width: 25%;
	}

	.col-4{
		width: 33.33%;
	}

	.col-6{
		width: 50%;
	}

	.col-12{
		width: 100%;
	}
}

.t-1{
	font-size: 30px;
	font-weight: bold;
}

.info-card{
	
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f1f1f1;
}

.info-card:hover{
	background-color: azure;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.grey{
	color:grey;
}

.danger{
	color:red;
}

.list{
	list-style: none;
}

.input-error{
	border:2px red solid;
}

.top-error{
	list-style: kannada;
}

.top-error>li{
	color: red;
}

.background-primary{
	background-color:#078A81;
}

.background-secondary{
	background-color:#587068;
}

.color-primary,
.color-primary:visited,
.color-primary:hover,
.color-primary:active{
	color: black;
}

.color-secondary,
.color-secondary:visited,
.color-secondary:hover,
.color-secondary:active{
	color: #70664C;
}

.graph-bar{
	background-color: #4CAF50;
	height: 15px;
	display: inline-block;
}

.avator{
	padding: 0px 10px;
}

.user-name{
	text-align: center;
	height: 100%;
	padding: 14px 16px;
	font-size: 20px;
	font-weight: bold;
}

.float-right{
	float: right;
}

.float-left{
	float:left;
}

.option-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

.option-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.option-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option-container input:checked ~ .checkmark:after {
  display: block;
}

.option-container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.border-2{
	border:2px black solid;
}

.color-sucess,
.color-sucess:visited{
	color: DarkGreen;
}

.radio-image{
	position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-image + img{
	cursor: pointer;
}

.radio-image:checked + img{
	outline: 2px solid #f00;
}



@media  only screen and (min-width: 640px){
	.textarea{
	position: relative;
}
.textarea .textarea-count{
	position: relative;
	display: inline;
	bottom: 5px;
	right: 30px;
	text-align: left;
}
}

@media  only screen and (max-width: 639px){
.textarea{
	position: relative;
}
.textarea{
	display: block;
	position: relative;
}
}

.mr-0{
	margin: 0 !important;
}

.pad-0{
	padding: 0 !important;
}
